*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
  max-width: 1300px;
  margin: auto;
  padding: 32px 16px;
}
.inner{
  width: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
}

.span-8{
  grid-column: 3 / span 8;
}

.text-center{
  text-align: center;
}

.feat-heading{
  letter-spacing: .3rem;
}

.fS-4{
  font-size: 3em;
}

.a-feature{
  grid-column: span 12;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 600px) {
  .a-feature{
    grid-column: span 6;
  }
}

@media screen and (min-width: 1024px) {
  .a-feature{
    grid-column: span 4;
  }
}

.icon-container{
  font-size: 3.5em;
  color: #903ddf;
}

.mrg-b-25{
  margin-bottom: 25px;
}
.mrg-b-50{
  margin-bottom: 50px;
}
.mrg-t-50{
  margin-top: 50px;
}

.cta-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.cta{
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  background-color: #903ddf;
  color: white;
  font-size: 1em;
}